/*
 * Define Font Face
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@500;700&display=swap');
/* 
 * Define Global Colors
 */
:root {
    --primary: #292733;
    --secondary: #FFFFFF;
    --secondary-alt: #F1F3F4;
    --red: #C20502;
    --black: #000000;
}

/* 
 * Define Background Color
 */
 .cs__bg-primary{
    background-color: var(--primary);
 }

 .cs__bg-secondary{
    background-color: var(--secondary);
 }

 .cs__bg-secondary-alt{
   background-color: var(--secondary-alt);
}

 .cs__bg-red{
    background-color: var(--red);
 }

 .cs__bg-black{
   background-color: var(--black);
}

 /* 
 * Define Text Color
 */
 .cs__t-primary{
   color: var(--primary);
}

.cs__t-secondary{
   color: var(--secondary);
}

.cs__t-red{
   color: var(--red);
}

body a,
body p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: var(--secondary);
    line-height: 24px;
}




