/* Header Styling */
.header{
   background-color: var(--primary);
}

.header__container{
   padding: 20px 10px;
}

.main-nav__item{
  padding: 0 0 0 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.img-icon{
   width: 15px;
   height: 15px;
}

/* 
 * Hero Banner
 */
 .hb-heading,
 .hb-subheading {
   text-align: right;
 }

.hero-banner{
   background-image: url(./assets/HB.png);
   background-repeat: no-repeat;
   background-size: cover;
  }

/* 
 * Service Section 
 */
 .service-title{
   width: 50%;
   font-size: 20px;
   color: var(--secondary);
   text-align: center;
 }

 .service-items{
   flex-direction: column;
   margin: 0 20px;
 }

 /* 
  * Enquire
  */

  .cs__enquire-column-40{
    width: 40%;
   padding: 101px 0;
  }

  .dealers__column-40{
    width: 40%;
  }

  .dealers__column-60{
    width: 60%;
  }

  .cs__enquire-column-60{
   width:60%;
   flex-direction: column;
  }

  .enquire-heading{
   width: 35%;
   font-size: 36px;
   line-height: 111%;
   text-align: center;
   color: #F1F3F4;
  }

  .enquire-btn {
   background-color: var(--red);
   padding: 20px 40px;
  }

  .dealers__shop-now,
  .quality__learn-more-btn {
    background-color: var(--secondary);
    padding: 20px 40px;
   }

   .dealers__img-wood{
      width: 60%;
      padding-top: 6em;
   }

   .dealers__img{
    width: 50%;
 }

   .dealers__text-container{
      margin-left: -40px;
   }







  
