/* Header Styling */
.header{
   background-color: var(--primary);
}

.header-container{
   padding: 20px 10px;
}

.nav-item{
  padding: 0 0 0 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.img-icon{
   width: 15px;
   height: 15px;
}

/* 
 * Hero Banner
 */
 .hb-heading,
 .hb-subheading {
   text-align: right;
 }

.hero-banner{
   background-image: url(./assets/HB.png);
   background-repeat: no-repeat;
   object-fit: contain;
}

/* 
 * Service Section 
 */
 .service-title{
   width: 50%;
   font-size: 20px;
   color: var(--secondary);
   text-align: center;
 }

 .service-items{
   flex-direction: column;
   margin: 0 20px;
 }

 /* 
  * Enquire
  */
  .enquire-column-40{
   width: 40%;
   padding: 101px 0;
  }

  .enquire-column-60{
   width:60%;
   flex-direction: column;
  }

  .enquire-heading{
   width: 35%;
   font-size: 36px;
   line-height: 111%;
   text-align: center;
   color: #F1F3F4;
  }

  .enquire-btn {
   background-color: var(--red);
   padding: 20px 40px;
  }







  
